body{
    margin: 0;
}

.container {
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-rows: repeat(5, auto);
    width: 50svh;
    height: 50svh;
    border: 1px solid black;
}